<div id=<%= "report#{index}" %> class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= "Report for #{@contracts[index].task.name.capitalize} Task
            due #{@contracts[index].finish_date.strftime("%B %e, %Y")}" %></h4>
      </div>
      <div class="modal-body">
        <p> 
          You're doing your best to: 
        </p>
        <ol>
            <li>Reduce <%= @contracts[index].level.name.humanize.downcase %> from <%= @contracts[index].initial %> to <%= @contracts[index].target %> <%= @contracts[index].level.unit %>
              <ul>
                <% @contracts[index].reports.each do |report| %>
                  <li>
                    <%= "#{report.created_at.strftime('%B %e, %Y')}" %>
                  </li>
              </ul>

            </li>
          <% end %>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Dismiss</button>  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>