<h1>Your Contracts</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Level</th>
      <th>Start Date</th>
      <th>Finish Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each_with_index do |contract, index| %>
      <tr>   
        <%= logger.debug "START#{contract.id}"%> 
        <td><%= contract.level.task.category.name %></td>
        <td><%= contract.level.name.humanize %></td>
        <td><%= contract.created_at.strftime("%B %e, %Y")%></td>    
        <td><%= contract.finish_date.strftime("%B %e, %Y")%></td>
        <%= logger.debug "FINISH#{contract.id}"%> 
        
        <td>
        	<a class="btn btn-primary" data-toggle="modal" data-target=<%= "#goal#{index}" %>>
			    	Show Goals
			    </a>
          <a class="btn btn-primary" data-toggle="modal" data-target=<%= "#report#{index}" %>>
            Report Progress
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Make a New Contract!', new_contract_path, class: 'btn btn-success' %>
  <% @contracts.each_with_index do |contract, index| %>
    <%= render partial: "goalmodal", locals: { index: index } %>    
  <% end %>

