<div class='eighty center'>
  <h1>Your Contracts</h1>
  <% @contracts.each_with_index do |contract, index| %>
  <div class='bubble center bottommargin'>
    <div class='relative'>
      <%= link_to image_tag('delete.png'), "/contracts/#{contract.id}", class: 'topright' , method: 'delete', data: { confirm: 'Are you sure you want to delete this contract?'} %>
      <div class="subbubble recent">
        <span class=<%= @progress[index] %>><%= @recents[index] %></span><br>Recent
      </div>
      <div class="subbubble average">
        <%= @averages[index] %><br>Average
      </div>
      <div class="subbubble initial">
        <%= contract.initial %><br>Initial
      </div>
      <div class="fb" id=<%= "fb"+contract.id.to_s %>>
        <%= image_tag 'fb.png' %>
      </div>
      
    </div>
    <h2 class='center'>
    <%= contract.level.task.name.capitalize + " " + contract.level.name.capitalize %>
    </h2>
    <p class='subtext'>Reduce
    to <%= contract.target.to_s + " " + contract.level.unit %>
    by <%= contract.finish_date.strftime("%B %e, %Y") %>
    </p>    <div class="relative">
      <a class="btn btn-primary bottomright" data-toggle="modal" data-target=<%= "#goal#{index}" %>>
        Show Progress
      </a>
    </div>
    
  </div>
  <% end %>
  <%= link_to 'Make a New Contract!', new_contract_path, class: 'btn btn-success', method: 'get' %>
  <% @contracts.each_with_index do |contract, index| %>
  <%= render partial: "goalmodal", locals: { index: index } %>
  <%= render partial: "goalmodal", locals: { index: index } %>
  <% end %>
  
</div>