<!DOCTYPE html>
<html>
<head>
  <title>Vladimir</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if user_signed_in? %>
		
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Loraction</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             <li><a href="#">New</a></li>
             <li class='active'><a href="#">Contracts</a></li>
             <li><a href="#">News Feed</a></li>
             <li><a href="#"><%= current_user.first_name %></a></li>
             <li> <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>
<% end %>
<br>
<br>
<div class="container">
	
	
	
	<% if flash[:notice] %>
    	<div class="alert alert-success"><%= flash[:notice] %></div>
  	<% end %>
  	<% if flash[:alert] %>
    	<div class="alert alert-danger"><%= flash[:alert] %></div>
  	<% end %>
	<%= yield %>
	
</div>

  <%= image_tag "lorax.png", class: 'lorax' %>  



<!-- <div class="footer">
	"Unless some one like you cares a whole awful lot, <br>
	Nothing is going to get better. It's not." -The Lorax
</div>
 -->
</body>
</html>
