<!DOCTYPE html>
<html>
<head>
  <title>Loraction</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src='https://www.google.com/jsapi'></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
<div id="body-wrapper">
    <div class="wrapper">
<% if user_signed_in? %>
		
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Loraction</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             <li> <%= link_to 'Contracts', root_path %></li>
             <li> <%= link_to current_user.first_name, "/users/#{current_user.id}" %> </li>
             <li> <%= link_to 'New Contract', '/contracts/new' %></li>
             <li> <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>
<% end %>
<br>
<br>
<div class="container main">
	
	
	
	<% if flash[:notice] %>
    	<div class="alert alert-success"><%= flash[:notice] %></div>
  	<% end %>
  	<% if flash[:alert] %>
    	<div class="alert alert-danger"><%= flash[:alert] %></div>
  	<% end %>
	
        <%= yield %>
</div>

<div>
  <%= image_tag "lorax.png", class: 'lorax' %>  
</div>  


<!-- <div class="footer">
	"Unless some one like you cares a whole awful lot, <br>
	Nothing is going to get better. It's not." -The Lorax
</div>
 -->
     </div>

</div>
</body>
</html>
